:root {
  --primary-color: #62b6cb;
  --secondary-color: #bee9e8;
  --background-color: #1b4965;
  --text-color: #cae9ff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);
}
